In [1]:
import pandas as pd
import numpy as np

# 주민등록,전입,전출

In [77]:
#주민등록인구
data1 = pd.read_csv("C:/Users/user/Desktop/데분/202306_202306_주민등록인구및세대현황_월간.csv", encoding = 'cp949')

#전입인구 
data2 = pd.read_csv("C:/Users/user/Desktop/데분/전입인구(시도시군구).csv", encoding = 'cp949')

#전출인구
data3 = pd.read_csv("C:/Users/user/Desktop/데분/전출인구(시도시군구).csv", encoding = 'cp949')

In [78]:
data1['행정구역'] = data1['행정구역'].str.replace(r'\s*\([^)]*\)', '', regex=True)
data1['행정구역'] = data1['행정구역'].str.split().str.get(-1)

In [79]:
data1.loc[data1['행정구역'] == '고성군', '행정구역'] = ['고성군(강원)', '고성군(경남)']

In [80]:
data2['전입인구(2022.1~2023.5)'] = data2[['2022', '2022.1', '2022.2', '2022.3', '2022.4', '2022.5', '2022.6', '2022.7', '2022.8', '2022.9', '2022.10', '2022.11', '2023', '2023.1', '2023.2', '2023.3', '2023.4']].sum(axis=1)
data3['전출인구(2022.1~2023.5)'] = data3[['2022', '2022.1', '2022.2', '2022.3', '2022.4', '2022.5', '2022.6', '2022.7', '2022.8', '2022.9', '2022.10', '2022.11', '2023', '2023.1', '2023.2', '2023.3', '2023.4']].sum(axis=1)

In [81]:
data2.loc[data2['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data3.loc[data3['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']

In [82]:
col1 = data2[['구분','전입인구(2022.1~2023.5)']]
col2 = data3[['구분','전출인구(2022.1~2023.5)']]

In [83]:
col1 = col1.iloc[1:]
col2 = col2.iloc[1:]

In [84]:
df = pd.merge(col1,col2, how = 'inner', on = '구분')

In [85]:
df.rename(columns = {'구분':'행정구역'}, inplace = True)

In [86]:
df = pd.merge(data1, df, how = 'inner', on = '행정구역')

In [88]:
df.to_csv('C:/Users/user/Desktop/데분/df.csv',index=False)

# 사업체 수, 매출액, 문화시설 기반 수, 의료시설 기반 수

In [126]:
#사업체
data1 = pd.read_csv("C:/Users/user/Desktop/데분/인구_천명당_사업체수(시도시군구).csv", encoding = 'cp949')

#의료시설
data2 = pd.read_csv("C:/Users/user/Desktop/데분/인구_천명당_의료기관병상수(시도시군구).csv", encoding = 'cp949')

#문화시설
data3 = pd.read_csv("C:/Users/user/Desktop/데분/인구_십만명당_문화기반시설수(시도시군구).csv", encoding = 'cp949')

In [127]:
data1.loc[data1['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data2.loc[data2['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data3.loc[data3['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']

In [128]:
data1.rename(columns = {'2020':'2020_사업체수',
                        '2021':'2021_사업체수'}, inplace = True)
data2.rename(columns = {'2020':'2020_인구천명당_의료기관병상수',
                        '2021':'2021_인구천명당_의료기관병상수'}, inplace = True)
data3.rename(columns = {'2020':'2020_인구십만명당_문화기반시설수',
                        '2021':'2021_인구십만명당_문화기반시설수'}, inplace = True)

In [132]:
df = pd.merge(data1,data2, how = 'inner', on = '구분')

In [133]:
df = pd.merge(df, data3, how = 'inner', on = '구분')

In [134]:
df

,구분,2020_사업체수,2021_사업체수,2020_인구천명당_의료기관병상수,2021_인구천명당_의료기관병상수,2020_인구십만명당_문화기반시설수,2021_인구십만명당_문화기반시설수
0,세종특별자치시,80.1,82.0,5.6,5.6,6.5,6.5
1,춘천시,114.5,115.8,14.7,14.9,10.6,10.9
2,원주시,115.7,119.6,13.6,15.0,5.9,5.9
3,강릉시,131.2,136.3,12.5,12.4,14.1,14.1
4,동해시,122.6,126.5,15.9,14.5,7.7,7.8
...,...,...,...,...,...,...,...
119,함양군,116.3,126.3,4.1,4.2,10.2,10.4
120,거창군,119.6,125.5,13.5,13.6,9.8,9.8
121,합천군,114.6,127.4,18.1,20.2,13.6,14.0
122,제주시,142.2,144.8,8.9,9.2,14.4,14.0
123,서귀포시,131.5,134.6,2.9,3.0,35.1,33.2