In [1]:
import pandas as pd
import numpy as np

# 주민등록,전입,전출

In [11]:
#주민등록인구
data1 = pd.read_csv("C:/Users/user/Desktop/데분/202306_202306_주민등록인구및세대현황_월간.csv", encoding = 'cp949')

#전입인구 
data2 = pd.read_csv("C:/Users/user/Desktop/데분/전입인구(시도시군구).csv", encoding = 'cp949')

#전출인구
data3 = pd.read_csv("C:/Users/user/Desktop/데분/전출인구(시도시군구).csv", encoding = 'cp949')

In [12]:
data1['행정구역'] = data1['행정구역'].str.replace(r'\s*\([^)]*\)', '', regex=True)
data1['행정구역'] = data1['행정구역'].str.split().str.get(-1)

In [13]:
data1.loc[data1['행정구역'] == '고성군', '행정구역'] = ['고성군(강원)', '고성군(경남)']

In [14]:
data2['전입인구(2022.1~2023.5)'] = data2[['2022', '2022.1', '2022.2', '2022.3', '2022.4', '2022.5', '2022.6', '2022.7', '2022.8', '2022.9', '2022.10', '2022.11', '2023', '2023.1', '2023.2', '2023.3', '2023.4']].sum(axis=1)
data3['전출인구(2022.1~2023.5)'] = data3[['2022', '2022.1', '2022.2', '2022.3', '2022.4', '2022.5', '2022.6', '2022.7', '2022.8', '2022.9', '2022.10', '2022.11', '2023', '2023.1', '2023.2', '2023.3', '2023.4']].sum(axis=1)

In [15]:
data2.loc[data2['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data3.loc[data3['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']

In [16]:
col1 = data2[['구분','전입인구(2022.1~2023.5)']]
col2 = data3[['구분','전출인구(2022.1~2023.5)']]

In [17]:
col1 = col1.iloc[1:]
col2 = col2.iloc[1:]

In [18]:
df1 = pd.merge(col1,col2, how = 'inner', on = '구분')

In [19]:
df1.rename(columns = {'구분':'행정구역'}, inplace = True)

In [20]:
df1 = pd.merge(data1, df1, how = 'inner', on = '행정구역')

In [22]:
df1.to_csv('C:/Users/user/Desktop/데분/df1.csv',index=False)

# 사업체 수, 매출액, 문화시설 기반 수, 의료시설 기반 수

In [70]:
#사업체
data1 = pd.read_csv("C:/Users/user/Desktop/데분/인구_천명당_사업체수(시도시군구).csv", encoding = 'cp949')

#의료시설
data2 = pd.read_csv("C:/Users/user/Desktop/데분/인구_천명당_의료기관병상수(시도시군구).csv", encoding = 'cp949')

#문화시설
data3 = pd.read_csv("C:/Users/user/Desktop/데분/인구_십만명당_문화기반시설수(시도시군구).csv", encoding = 'cp949')

In [71]:
data1.loc[data1['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data2.loc[data2['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data3.loc[data3['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']

In [72]:
data1.rename(columns = {'2020':'2020_사업체수',
                        '2021':'2021_사업체수'}, inplace = True)
data2.rename(columns = {'2020':'2020_인구천명당_의료기관병상수',
                        '2021':'2021_인구천명당_의료기관병상수'}, inplace = True)
data3.rename(columns = {'2020':'2020_인구십만명당_문화기반시설수',
                        '2021':'2021_인구십만명당_문화기반시설수'}, inplace = True)

In [73]:
df2 = pd.merge(data1,data2, how = 'inner', on = '구분')

In [74]:
df2 = pd.merge(df2, data3, how = 'inner', on = '구분')

In [75]:
df2.rename(columns = {'구분':'행정구역'}, inplace = True)

In [76]:
df2

,행정구역,2020_사업체수,2021_사업체수,2020_인구천명당_의료기관병상수,2021_인구천명당_의료기관병상수,2020_인구십만명당_문화기반시설수,2021_인구십만명당_문화기반시설수
0,세종특별자치시,80.1,82.0,5.6,5.6,6.5,6.5
1,춘천시,114.5,115.8,14.7,14.9,10.6,10.9
2,원주시,115.7,119.6,13.6,15.0,5.9,5.9
3,강릉시,131.2,136.3,12.5,12.4,14.1,14.1
4,동해시,122.6,126.5,15.9,14.5,7.7,7.8
...,...,...,...,...,...,...,...
119,함양군,116.3,126.3,4.1,4.2,10.2,10.4
120,거창군,119.6,125.5,13.5,13.6,9.8,9.8
121,합천군,114.6,127.4,18.1,20.2,13.6,14.0
122,제주시,142.2,144.8,8.9,9.2,14.4,14.0
123,서귀포시,131.5,134.6,2.9,3.0,35.1,33.2

In [77]:
df2.to_csv('C:/Users/user/Desktop/데분/df2.csv',index=False)

# 초등학교 수, 사설 학원 수, 주택 수, 매매,월세,전세 가격지수

In [63]:
#학원
data1 = pd.read_csv('C:/Users/user/Desktop/데분/인구 천명당 사설학원수(시도시군구).csv', encoding = 'cp949')

#초등학교
data2 = pd.read_csv('C:/Users/user/Desktop/데분/초등학교수(시도시군구).csv', encoding = 'cp949')

#주택수
data3 = pd.read_csv('C:/Users/user/Desktop/데분/주택수(시도시군구).csv', encoding = 'cp949')

In [64]:
data1.loc[data1['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data2.loc[data2['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']
data3.loc[data3['구분'] == '고성군', '구분'] = ['고성군(강원)', '고성군(경남)']

In [65]:
data3

          구분    2021    2022
0    세종특별자치시  143798  150278
1        춘천시  105579  108577
2        원주시  143538  146861
3        강릉시   89259   89894
4        동해시   41536   42187
..       ...     ...     ...
119      함양군   18902   18899
120      거창군   27149   27272
121      합천군   23525   23559
122      제주시  175552  177771
123     서귀포시   74077   75092

[124 rows x 3 columns]

In [66]:
data1.rename(columns = {'2021':'2021_인구천명당_사설학원수',
                        '2022':'2022_인구천명당_사설학원수'}, inplace = True)
data2.rename(columns = {'2022':'2022_초등학교수',
                        '2023':'2023_초등학교수'}, inplace = True)
data3.rename(columns = {'2021':'2021_주택수',
                        '2022':'2022_주택수'}, inplace = True)

In [67]:
df3 = pd.merge(data1,data2, how = 'inner', on = '구분')
df3 = pd.merge(df3, data3, how = 'inner', on = '구분')

In [68]:
df3.rename(columns = {'구분':'행정구역'}, inplace = True)
df3

,행정구역,2021_인구천명당_사설학원수,2022_인구천명당_사설학원수,2022_초등학교수,2023_초등학교수,2021_주택수,2022_주택수
0,세종특별자치시,2.2,2.4,52,53,143798,150278
1,춘천시,1.5,1.6,41,41,105579,108577
2,원주시,1.7,1.8,51,51,143538,146861
3,강릉시,2.0,2.1,36,36,89259,89894
4,동해시,1.5,1.6,14,14,41536,42187
...,...,...,...,...,...,...,...
119,함양군,1.0,1.1,13,13,18902,18899
120,거창군,1.4,1.4,17,17,27149,27272
121,합천군,0.7,0.7,17,17,23525,23559
122,제주시,1.8,1.9,68,68,175552,177771
123,서귀포시,1.1,1.3,44,44,74077,75092

In [69]:
df3.to_csv('C:/Users/user/Desktop/데분/df3.csv',index=False)

# 소멸위험도, 출산율

In [69]:
data1 = pd.read_csv('C:/Users/user/Desktop/데분/소멸위험도.csv')
data2 = pd.read_csv('C:/Users/user/Desktop/데분/출산율2122.csv')

In [70]:
data1 = data1.iloc[:,1:-1]

In [71]:
# 숫자열에 대해 콤마 제거 및 정수로 변환
columns_to_process = data1.columns[1:]  # 첫 번째 열을 제외한 열 선택

for column in columns_to_process:
    data1[column] = data1[column].apply(lambda x: int(str(x).replace(',', '')))

In [72]:
data1['지방소멸위험도'] = (data1['2023년09월_여_20~24세'] + data1['2023년09월_여_25~29세'] + data1['2023년09월_여_30~34세'] + data1['2023년09월_여_35~39세'])/(data1['2023년09월_계_65~69세'] + data1['2023년09월_계_70~74세'] + data1['2023년09월_계_75~79세'] + data1['2023년09월_계_80~84세'] + data1['2023년09월_계_85~89세'] + data1['2023년09월_계_90~94세'] + data1['2023년09월_계_95~99세'] + data1['2023년09월_계_100세 이상'])

In [73]:
data1 = data1[['행정구역','지방소멸위험도']]

In [74]:
data1

        행정구역   지방소멸위험도
0    세종특별자치시  1.166472
1        춘천시  0.582734
2        원주시  0.663052
3        강릉시  0.387068
4        동해시  0.351716
..       ...       ...
119      거창군  0.229965
120      합천군  0.106050
121      제주시  0.709044
122     서귀포시  0.429785
123      군위군  0.094006

[124 rows x 2 columns]

In [76]:
data2.rename(columns = {'구분':'행정구역'}, inplace = True)

In [79]:
data2 = data2.iloc[:,1:]

In [82]:
df4 = pd.merge(data1,data2, how = 'inner', on = '행정구역')

In [83]:
df4.to_csv('C:/Users/user/Desktop/데분/df4.csv',index=False)

# 통합

In [ ]:
df1 = pd.read_csv('C:/Users/user/Desktop/데분/df1.csv')
df2 = pd.read_csv('C:/Users/user/Desktop/데분/df2.csv')
df3 = pd.read_csv('C:/Users/user/Desktop/데분/df3.csv')

In [83]:
df = pd.merge(df1,df2, how = 'inner', on = '행정구역')
df = pd.merge(df, df3, how = 'inner', on = '행정구역')

In [ ]:
df

In [85]:
df.to_csv('C:/Users/user/Desktop/데분/df.csv',index=False)

# df4 추가본

In [85]:
df =  pd.read_csv('C:/Users/user/Desktop/데분/df.csv')
df4 =  pd.read_csv('C:/Users/user/Desktop/데분/df4.csv')

In [86]:
df = pd.merge(df, df4, how = 'inner', on = '행정구역')

In [88]:
df.to_csv('C:/Users/user/Desktop/데분/df.csv',index=False)