In [30]:
import pandas as pd
import numpy as np

In [52]:
#12회반복
data1 = pd.read_excel("C:/Users/user/Desktop/데분/KT_popul/별첨_전국_누적_행정동코드_정의서_KT_20230502.xlsx", encoding = 'cp949')

data2 = pd.read_excel("C:/Users/user/Desktop/데분/KT_popul/2022/sgg_avg_native_sum_202212.xlsx", encoding = 'cp949')

# 데이터1에서 sgg_cd, sido_nm, sgg_nm 열만 추출
data1_subset = data1[['sgg_cd', 'sido_nm', 'sgg_nm']]

# 데이터2의 sgg_cd를 데이터1과 조인하여 sido_nm과 sgg_nm을 가져오기
data2 = data2.merge(data1_subset, left_on='sgg_cd', right_on='sgg_cd', how='left')

# 조인 후, sido_nm과 sgg_nm을 조합하여 새로운 열 생성
data2['combined_sido_sgg'] = data2['sido_nm'] + ' ' + data2['sgg_nm']

# 중복된 sgg_cd 열 제거
data2.drop_duplicates(subset='sgg_cd', keep='first', inplace=True)

# 기존 sgg_cd 열을 새로운 값으로 대체
data2['sgg_cd'] = data2['combined_sido_sgg']

# 필요 없어진 열 삭제
data2.drop(['sido_nm', 'sgg_nm', 'combined_sido_sgg'], axis=1, inplace=True)

# big 리스트에 있는 값들을 가진 행 삭제
big = ['서울특별시', '경기도', '부산광역시', '인천광역시', '대구광역시', '광주광역시', '울산광역시', '대전광역시']
data2 = data2[~data2['sgg_cd'].str.split().str[0].isin(big)]

data3 = data2[~data2['sgg_cd'].isin(big)]
data3['sgg_cd'] = data3['sgg_cd'].str.split().str[1]
data3.fillna('세종특별자치시', inplace = True)
data3.loc[data3['sgg_cd'] == '고성군', 'sgg_cd'] = ['고성군(강원)', '고성군(경남)']

df12 = data3.groupby('sgg_cd')['living_pop'].sum().reset_index()

df12.rename(columns = {'sgg_cd':'행정구역',
                        'living_pop':'202201생활인구'}, inplace = True)
df12

    행정구역    202201생활인구
0    강릉시  1.290251e+07
1    강진군  1.748748e+06
2    거제시  1.479205e+07
3    거창군  2.585427e+06
4    경산시  1.290534e+07
..   ...           ...
119  홍성군  4.406570e+06
120  홍천군  3.812216e+06
121  화순군  3.180958e+06
122  화천군  1.460749e+06
123  횡성군  2.459506e+06

[124 rows x 2 columns]

In [67]:
df2.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202202생활인구'}, inplace = True)
df3.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202203생활인구'}, inplace = True)
df4.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202204생활인구'}, inplace = True)
df5.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202205생활인구'}, inplace = True)
df6.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202206생활인구'}, inplace = True)
df7.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202207생활인구'}, inplace = True)
df8.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202208생활인구'}, inplace = True)
df9.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202209생활인구'}, inplace = True)
df10.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202210생활인구'}, inplace = True)
df11.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202211생활인구'}, inplace = True)
df12.rename(columns = {'sgg_cd':'행정구역',
                        '202201생활인구':'202212생활인구'}, inplace = True)

In [53]:
df12

    행정구역    202201생활인구
0    강릉시  1.290251e+07
1    강진군  1.748748e+06
2    거제시  1.479205e+07
3    거창군  2.585427e+06
4    경산시  1.290534e+07
..   ...           ...
119  홍성군  4.406570e+06
120  홍천군  3.812216e+06
121  화순군  3.180958e+06
122  화천군  1.460749e+06
123  횡성군  2.459506e+06

[124 rows x 2 columns]

In [54]:
df11

    행정구역    202201생활인구
0    강릉시  1.296871e+07
1    강진군  1.790671e+06
2    거제시  1.464284e+07
3    거창군  2.700473e+06
4    경산시  1.317363e+07
..   ...           ...
119  홍성군  4.534247e+06
120  홍천군  3.889299e+06
121  화순군  3.274499e+06
122  화천군  1.594879e+06
123  횡성군  2.519921e+06

[124 rows x 2 columns]

In [55]:
df10

    행정구역    202201생활인구
0    강릉시  1.310465e+07
1    강진군  1.819551e+06
2    거제시  1.456196e+07
3    거창군  2.743434e+06
4    경산시  1.313430e+07
..   ...           ...
119  홍성군  4.534633e+06
120  홍천군  4.128429e+06
121  화순군  3.285759e+06
122  화천군  1.650835e+06
123  횡성군  2.749047e+06

[124 rows x 2 columns]

In [56]:
df9

    행정구역    202201생활인구
0    강릉시  1.313504e+07
1    강진군  1.891896e+06
2    거제시  1.448444e+07
3    거창군  2.808916e+06
4    경산시  1.322042e+07
..   ...           ...
119  홍성군  4.601532e+06
120  홍천군  4.153750e+06
121  화순군  3.381198e+06
122  화천군  1.673434e+06
123  횡성군  2.694604e+06

[124 rows x 2 columns]

In [57]:
df8

    행정구역    202201생활인구
0    강릉시  1.388057e+07
1    강진군  1.830870e+06
2    거제시  1.512465e+07
3    거창군  2.840748e+06
4    경산시  1.242927e+07
..   ...           ...
119  홍성군  4.449087e+06
120  홍천군  4.654012e+06
121  화순군  3.389148e+06
122  화천군  1.833764e+06
123  횡성군  2.945660e+06

[124 rows x 2 columns]

In [58]:
df7

    행정구역    202201생활인구
0    강릉시  1.350825e+07
1    강진군  1.824329e+06
2    거제시  1.522189e+07
3    거창군  2.768298e+06
4    경산시  1.188232e+07
..   ...           ...
119  홍성군  4.422297e+06
120  홍천군  4.573483e+06
121  화순군  3.382419e+06
122  화천군  1.825434e+06
123  횡성군  2.835077e+06

[124 rows x 2 columns]

In [59]:
df6

    행정구역    202201생활인구
0    강릉시  1.371896e+07
1    강진군  1.632096e+06
2    거제시  1.493927e+07
3    거창군  2.723330e+06
4    경산시  1.197292e+07
..   ...           ...
119  홍성군  4.576897e+06
120  홍천군  4.323231e+06
121  화순군  3.080459e+06
122  화천군  1.800621e+06
123  횡성군  2.788692e+06

[124 rows x 2 columns]

In [60]:
df5

    행정구역    202201생활인구
0    강릉시  1.351322e+07
1    강진군  1.649498e+06
2    거제시  1.478157e+07
3    거창군  2.746307e+06
4    경산시  1.247535e+07
..   ...           ...
119  홍성군  4.558990e+06
120  홍천군  4.136100e+06
121  화순군  3.096216e+06
122  화천군  1.788085e+06
123  횡성군  2.753941e+06

[124 rows x 2 columns]

In [61]:
df4

    행정구역    202201생활인구
0    강릉시  1.293920e+07
1    강진군  1.818311e+06
2    거제시  1.465966e+07
3    거창군  2.666454e+06
4    경산시  1.328128e+07
..   ...           ...
119  홍성군  4.484162e+06
120  홍천군  3.868799e+06
121  화순군  3.305710e+06
122  화천군  1.771570e+06
123  횡성군  2.563167e+06

[124 rows x 2 columns]

In [62]:
df3

    행정구역    202201생활인구
0    강릉시  1.223479e+07
1    강진군  1.789004e+06
2    거제시  1.476848e+07
3    거창군  2.604813e+06
4    경산시  1.358463e+07
..   ...           ...
119  홍성군  4.452831e+06
120  홍천군  3.499505e+06
121  화순군  3.258323e+06
122  화천군  1.727157e+06
123  횡성군  2.378284e+06

[124 rows x 2 columns]

In [63]:
df2

    행정구역    202201생활인구
0    강릉시  1.275460e+07
1    강진군  1.833622e+06
2    거제시  1.516614e+07
3    거창군  2.623925e+06
4    경산시  1.265402e+07
..   ...           ...
119  홍성군  4.411082e+06
120  홍천군  3.879805e+06
121  화순군  3.300548e+06
122  화천군  1.725707e+06
123  횡성군  2.534379e+06

[124 rows x 2 columns]

In [64]:
df1

    행정구역    202201생활인구
0    강릉시  1.316016e+07
1    강진군  1.878808e+06
2    거제시  1.525454e+07
3    거창군  2.661954e+06
4    경산시  1.251938e+07
..   ...           ...
119  홍성군  4.448342e+06
120  홍천군  3.989777e+06
121  화순군  3.310323e+06
122  화천군  1.785814e+06
123  횡성군  2.568524e+06

[124 rows x 2 columns]

In [72]:
df = pd.merge(df1,df2, how = 'inner', on = '행정구역')
df = pd.merge(df, df3, how = 'inner', on = '행정구역')
df = pd.merge(df, df4, how = 'inner', on = '행정구역')
df = pd.merge(df, df5, how = 'inner', on = '행정구역')
df = pd.merge(df, df6, how = 'inner', on = '행정구역')
df = pd.merge(df, df7, how = 'inner', on = '행정구역')
df = pd.merge(df, df8, how = 'inner', on = '행정구역')
df = pd.merge(df, df9, how = 'inner', on = '행정구역')
df = pd.merge(df, df10, how = 'inner', on = '행정구역')
df = pd.merge(df, df11, how = 'inner', on = '행정구역')
df = pd.merge(df, df12, how = 'inner', on = '행정구역')

In [73]:
df

,행정구역,202201생활인구,202202생활인구,202203생활인구,202204생활인구,202205생활인구,202206생활인구,202207생활인구,202208생활인구,202209생활인구,202210생활인구,202211생활인구,202212생활인구
0,강릉시,1.316016e+07,1.275460e+07,1.223479e+07,1.293920e+07,1.351322e+07,1.371896e+07,1.350825e+07,1.388057e+07,1.313504e+07,1.310465e+07,1.296871e+07,1.290251e+07
1,강진군,1.878808e+06,1.833622e+06,1.789004e+06,1.818311e+06,1.649498e+06,1.632096e+06,1.824329e+06,1.830870e+06,1.891896e+06,1.819551e+06,1.790671e+06,1.748748e+06
2,거제시,1.525454e+07,1.516614e+07,1.476848e+07,1.465966e+07,1.478157e+07,1.493927e+07,1.522189e+07,1.512465e+07,1.448444e+07,1.456196e+07,1.464284e+07,1.479205e+07
3,거창군,2.661954e+06,2.623925e+06,2.604813e+06,2.666454e+06,2.746307e+06,2.723330e+06,2.768298e+06,2.840748e+06,2.808916e+06,2.743434e+06,2.700473e+06,2.585427e+06
4,경산시,1.251938e+07,1.265402e+07,1.358463e+07,1.328128e+07,1.247535e+07,1.197292e+07,1.188232e+07,1.242927e+07,1.322042e+07,1.313430e+07,1.317363e+07,1.290534e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,홍성군,4.448342e+06,4.411082e+06,4.452831e+06,4.484162e+06,4.558990e+06,4.576897e+06,4.422297e+06,4.449087e+06,4.601532e+06,4.534633e+06,4.534247e+06,4.406570e+06
120,홍천군,3.989777e+06,3.879805e+06,3.499505e+06,3.868799e+06,4.136100e+06,4.323231e+06,4.573483e+06,4.654012e+06,4.153750e+06,4.128429e+06,3.889299e+06,3.812216e+06
121,화순군,3.310323e+06,3.300548e+06,3.258323e+06,3.305710e+06,3.096216e+06,3.080459e+06,3.382419e+06,3.389148e+06,3.381198e+06,3.285759e+06,3.274499e+06,3.180958e+06
122,화천군,1.785814e+06,1.725707e+06,1.727157e+06,1.771570e+06,1.788085e+06,1.800621e+06,1.825434e+06,1.833764e+06,1.673434e+06,1.650835e+06,1.594879e+06,1.460749e+06
123,횡성군,2.568524e+06,2.534379e+06,2.378284e+06,2.563167e+06,2.753941e+06,2.788692e+06,2.835077e+06,2.945660e+06,2.694604e+06,2.749047e+06,2.519921e+06,2.459506e+06

In [74]:
df.to_csv('C:/Users/user/Desktop/데분/living_pop2022.csv',index=False)