In [2]:
import pandas as pd
import numpy as np

In [3]:
#12회반복
data1 = pd.read_csv("C:/Users/user/Desktop/데분/KT_popul/별첨_전국_누적_행정동코드_정의서_KT_20230502.csv", encoding = 'cp949')

data2 = pd.read_csv("C:/Users/user/Desktop/데분/KT_popul/2022/sgg_avg_native_sum_202202.csv", encoding = 'cp949')

In [4]:
# 데이터1에서 sgg_cd, sido_nm, sgg_nm 열만 추출
data1_subset = data1[['sgg_cd', 'sido_nm', 'sgg_nm']]

# 데이터2의 sgg_cd를 데이터1과 조인하여 sido_nm과 sgg_nm을 가져오기
data2 = data2.merge(data1_subset, left_on='sgg_cd', right_on='sgg_cd', how='left')

# 조인 후, sido_nm과 sgg_nm을 조합하여 새로운 열 생성
data2['combined_sido_sgg'] = data2['sido_nm'] + ' ' + data2['sgg_nm']

# 중복된 sgg_cd 열 제거
data2.drop_duplicates(subset='sgg_cd', keep='first', inplace=True)

# 기존 sgg_cd 열을 새로운 값으로 대체
data2['sgg_cd'] = data2['combined_sido_sgg']

# 필요 없어진 열 삭제
data2.drop(['sido_nm', 'sgg_nm', 'combined_sido_sgg'], axis=1, inplace=True)

# 결과 출력
print(data2)

      base_ym        sgg_cd    living_pop
0      202201     서울특별시 종로구  1.087799e+07
17     202201      서울특별시 중구  1.008838e+07
32     202201     서울특별시 용산구  1.210713e+07
48     202201     서울특별시 성동구  1.438625e+07
65     202201     서울특별시 광진구  1.563660e+07
...       ...           ...           ...
3594   202201      경상남도 함양군  2.030426e+06
3605   202201      경상남도 거창군  2.661954e+06
3617   202201      경상남도 합천군  2.025045e+06
3634   202201   제주특별자치도 제주시  3.218472e+07
3660   202201  제주특별자치도 서귀포시  1.247291e+07

[250 rows x 3 columns]

In [5]:
# big 리스트에 있는 값들을 가진 행 삭제
big = ['서울특별시', '경기도', '부산광역시', '인천광역시', '대구광역시', '광주광역시', '울산광역시', '대전광역시']
data2 = data2[~data2['sgg_cd'].str.split().str[0].isin(big)]

# 결과 출력
data2

      base_ym        sgg_cd    living_pop
1192   202201           NaN  1.551578e+07
1866   202201       강원도 춘천시  1.421678e+07
1891   202201       강원도 원주시  1.616849e+07
1916   202201       강원도 강릉시  1.316016e+07
1937   202201       강원도 동해시  4.902167e+06
...       ...           ...           ...
3594   202201      경상남도 함양군  2.030426e+06
3605   202201      경상남도 거창군  2.661954e+06
3617   202201      경상남도 합천군  2.025045e+06
3634   202201   제주특별자치도 제주시  3.218472e+07
3660   202201  제주특별자치도 서귀포시  1.247291e+07

[134 rows x 3 columns]

In [6]:
data3 = data2[~data2['sgg_cd'].isin(big)]

In [7]:
data3['sgg_cd'] = data3['sgg_cd'].str.split().str[1]

In [8]:
data3.fillna('세종특별자치시', inplace = True)

In [9]:
data3.loc[data3['sgg_cd'] == '고성군', 'sgg_cd'] = ['고성군(강원)', '고성군(경남)']

In [10]:
df2 = data3.groupby('sgg_cd')['living_pop'].sum().reset_index()

In [11]:
df2.rename(columns = {'sgg_cd':'행정구역',
                        'living_pop':'202201생활인구'}, inplace = True)
df2

    행정구역    202201생활인구
0    강릉시  1.316016e+07
1    강진군  1.878808e+06
2    거제시  1.525454e+07
3    거창군  2.661954e+06
4    경산시  1.251938e+07
..   ...           ...
119  홍성군  4.448342e+06
120  홍천군  3.989777e+06
121  화순군  3.310323e+06
122  화천군  1.785814e+06
123  횡성군  2.568524e+06

[124 rows x 2 columns]

In [ ]:
df1